$base-font-size: 16px !default;
$primary: #9356dc !default;
$secondary: #ff79da !default;
$tertiary: #92e2d0 !default;
$bg: #f6f6f6 !default;
$bg-footer: #353535 !default;
$btn-shadow: #aaaaaa !default;
$bg-shadow: #dddddd !default;
$font-primary: "shrikhand", sans-serif;
$font-secondary: "roboto", sans-serif;
$btn-width: 218px;
$btn-height: 50px;
