.button {
  width:$btn-width;
  height: $btn-height;
  @include flexcolumn;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  color: #fff;
  font-family: $font-secondary;
  background: $primary;
  @include shadow($shadow:$btn-shadow);
  @include radient;
  &:hover {
     filter: opacity(0.7) ;
    
  }
}
