@use "../abstracts/" as *;
@use "../themes" as *;

//////////////////////////////    loader
.loader {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  width: 100%;
  animation: fade 0ms $loader-duration forwards;
  .load {
    position: absolute;
    top: 30%;
    right: 50%;
    display: inline-block;
    padding: 2rem;
    background-color: $bg;
    .spinner {
      position: absolute;
      padding: 1rem;
      border-left: 0.5rem solid $primary;
      border-right: 0.5rem solid $secondary;
      opacity: 0.5;
      border-radius: 50%;
      animation: spin $loader-duration forwards ease-in-out;
    }
    .load__text {
      position: absolute;
      top: 200%;
      left: -5vw;
      font-size: 2rem;
      font-weight: 500;
      text-transform: uppercase;
      background: darken($bg, 30%);
      background-clip: text;
      -webkit-text-fill-color: transparent;

      @media #{$small-down} {
        left: -20vw;
      }

      &::after {
        content: ".";
        animation: blink 0.5s infinite;
      }
    }
  }
}
.main-content {
  animation: content-fade 0.25s $loader-duration both;
}
@keyframes content-fade {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}
@keyframes fade {
  0% {
    height: 100vh;
    visibility: visible;
  }
  100% {
    height: 0vh;
    visibility: hidden;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
    scale: 2 1;
  }

  100% {
    transform: rotate(3turn);
    scale: 1 2;
  }
}
@keyframes blink {
  0% {
    background: $tertiary;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    content: ".";
  }
  25% {
    background: darken($bg, 35);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    content: "..";
  }
  50% {
    background: $tertiary;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    content: "...";
  }
  100% {
    background: darken($bg, 35);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    content: "....";
  }
}

////////////////////////////////    slide des fiches

@for $i from 1 through 4 {
  .restaurant__fiche:nth-child(#{$i}n) {
    animation-name: slide-fiche;
    animation-delay: calc(
      #{$loader-duration} + #{$i * strip-unit($delay-slide-cartes)}s
    );
    animation-duration: $duration-slide-cartes;
    animation-fill-mode: both;
    animation-timing-function: ease;
  }
}
@keyframes slide-fiche {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media #{$large-up} {
  @for $i from 1 through 4 {
    .restaurant__fiche:nth-child(#{$i}n) {
      animation-name: slide-fiche;
      animation-delay: calc(
        #{$loader-duration} + #{$i * strip-unit($delay-slide-cartes)}s
      );
      animation-duration: $duration-slide-cartes;
      animation-fill-mode: both;
      animation-timing-function: ease;
    }
  }

  @keyframes slide-fiche {
    0% {
      opacity: 0;
      transform: translateX(3rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
////////////////////////////////  like accueil
.container:hover {
  @include shadow(darken($bg-shadow, 30%));
}
.container {
  position: relative;

  .restaurants__carte__like {
    cursor: pointer;
    position: absolute;
    height: 30px;
    width: 30px;
    bottom: 1.4rem;
    right: 1.3rem;
    opacity: 0;
    z-index: 1;
  }
  .fa-heart {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    transition: opacity 0.3s ease-in-out;
  }
  .fas {
    opacity: 0;
    &:before {
      @include radient;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  input[type="checkbox"]:checked ~ .fas {
    opacity: 1;
  }
  input[type="checkbox"]:checked ~ .far {
    opacity: 0;
  }
  @media (hover: hover) {
    input[type="checkbox"]:hover ~ .fas {
      opacity: 1;
    }
    input[type="checkbox"]:hover ~ .far {
      opacity: 0;
    }
    input[type="checkbox"]:hover,
    .container {
      .container {
        @include shadow(darken($bg-shadow, 30%));
      }
    }
  }
}
/////////////////////////////// Like pages
.restaurant__titre {
  position: relative;

  &__like {
    cursor: pointer;
    position: absolute;
    height: 20px;
    width: 20px;
    bottom: 3rem;
    right: 2rem;
    opacity: 0;
    z-index: 1;
  }
  .fa-heart {
    position: absolute;
    bottom: 3rem;
    right: 2rem;
    font-size: 1.5rem;
    transition: opacity 0.3s ease-in-out;
  }
  .fas.fa-heart {
    opacity: 0;
    &:before {
      @include radient;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  input[type="checkbox"]:checked ~ .fas {
    opacity: 1;
  }
  input[type="checkbox"]:checked ~ .far {
    opacity: 0;
  }
  @media (hover: hover) {
    input[type="checkbox"]:hover ~ .fas {
      opacity: 1;
    }
    input[type="checkbox"]:hover ~ .far {
      opacity: 0;
    }
  }
}
///////////////////////////////   slide des check
.restaurant__fiche:hover,
.restaurant__fiche input[type="radio"]:checked {
  @include shadow(darken($bg-shadow, 30%));

  .restaurant__fiche__plat {
    animation: slide 0.5s both;
  }
  .restaurant__fiche__check > i {
    animation: circle-spin 0.5s both;
  }
}
@keyframes circle-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes slide {
  from {
  }
  to {
    min-width: 15rem;
  }
}

@media #{$small-down} {
  @keyframes slide {
    from {
    }
    to {
      min-width: 10rem;
    }
  }
}
@media #{$large-up} {
  @keyframes slide {
    from {
    }
    to {
      min-width: 13rem;
    }
  }
}
