@use "../abstracts/" as *;
.loader {
  opacity: 0;
}

.restaurants__carte__like {
  border: 0;
  background: $bg;
  padding-right: 1rem;
  position: relative;
  &--unchecked {
    position: absolute;
    opacity: 1;
  }
  &--checked {
    position: absolute;
    opacity: 0;
  }
  &:hover {
    .restaurants__carte__like--unchecked {
      opacity: 0;
    }
    .restaurants__carte__like--checked {
      opacity: 1;
      &::before {
        @include radient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.restaurant__titre__like {
  border: 0;
  background: $bg;
  padding: 0 1rem 1rem 0;
  position: relative;
  &--unchecked {
    position: absolute;
    opacity: 1;
    transition: opacity 300ms;
  }
  &--checked {
    position: absolute;
    opacity: 0;
    transition: opacity 300ms;
  }
  &:hover {
    .restaurant__titre__like--unchecked {
      opacity: 0;
    }
    .restaurant__titre__like--checked {
      opacity: 1;
      &::before {
        @include radient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.restaurant__fiche {
  position: relative;
  &__check {
    display: none;
  }
  &:hover {
    position: relative;
    .restaurant__fiche__check {
      animation: check-scale 1s ease-in-out both;
      transform-origin: right;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      width: 4rem;
      height: 68px;
      background: $tertiary;
      color: white;
      border-radius: 0 1rem 1rem 0;

      &::before {
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .restaurant__fiche__tarif {
      animation: all 1s ease-in-out both;
    }
  }
}
@keyframes check-scale {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 4rem;
    opacity: 1;
  }
}
