a {
  text-decoration: none;
  color: #000;
}
*{
  box-sizing: border-box;
}
html,
body {
  max-width:375px;
  width:100%;
  font-size: $base-font-size;
  font-family: $font-primary;
  background: $bg;
  margin: 0 auto;
}
