
/*    style starts here    */
@use "../abstracts" as *;
*{
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
html,
body {
  font-size: $base-font-size;
  font-family: $font-secondary;
  background: $bg;
  max-width: 375px;
  margin: 0 auto;
}
