$small: 365px !default;
$medium: 768px !default;
$large: 992px !default;
$small-up: "only screen and (min-width:#{$small})";
$small-down: "only screen and (max-width:#{$small})";
$medium-up: "only screen and (min-width:#{$medium})";
$medium-down: "only screen and (max-width:#{$medium})";
$large-up: "only screen and (min-width:#{$large})";
$large-down: "only screen and (max-width:#{$large})";
