@use "../abstracts" as *;
@use "../themes" as *;

.fonctionnement {
  position: relative;
  max-width: 1024px;
  height: 440px;
  @include flexcolumn;
  justify-content: space-evenly;
  align-items: center;
  background: #fff;

  @media #{$medium-up},#{$large-up} {
    @include flexrow;
    height: 200px;
    border-radius: 1rem;
    margin: 0.5rem;
  }
  &__titre {
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    font-size: 1.5rem;
    font-weight: 500;

    @media #{$small-down},#{$small-up} {
      position: inherit;
      padding-bottom: 1rem;
    }
  }

  &__etape {
    width: 322px;
    height: 72px;
    background: $bg;
    @include shadow($shadow: $bg-shadow);
    border-radius: 1.5rem;
    @include flexrow;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    &__description {
      padding-right: 1rem;
    }

    @media #{$medium-up} {
      max-width: 30%;
    }
    @media #{$large-up} {
      max-width: 30%;
    }
    &:last-of-type {
      background: lighten($primary, 35%);
    }

    &__icone {
      padding: 0 1.5rem 0 2rem;

      color: grey;
      &.fas.fa-store {
        color: $primary;
      }
    }

    &__numero {
      position: absolute;
      top: calc(50% - 12px);
      left: 4px;
      @include flexrow;
      align-items: center;
      justify-content: center;
      min-width: 1.5rem;
      height: 1.5rem;
      background: $primary;
      color: #fff;
      border-radius: 50%;
      margin-left: -1rem;
    }
    @media #{$small-down} {
      width: 285px;
    }
  }
}
