@use "../abstracts" as *;
@use "../themes" as *;
.footer {
  margin-top: 3rem;
  min-height: 198px;
  background: $bg-footer;
  &__container {
    padding-top: 1rem;
    @include flexcolumn;
    justify-content: space-around;
    .footer__link {
      color: #fff;
      @include flexrow;
      padding: 1rem;
      justify-content: flex-start;
      align-items: center;
      i {
        padding-right: 0.5rem;
      }
    }
    h2 {
      margin: 0;
      padding: 0;
      font-size: 1.5rem;
      font-family: $font-primary;
    }
  }
  &__container {
    @media #{$medium-up},#{$large-up} {
      max-width: 1024px;
      width: 100%;
      margin: 0 auto;
      @include flexrow;
      justify-content: space-between;
      max-height: 100px;
    }
  }
}
