/*    style starts here    */
@use "../abstracts" as *;
a {
  text-decoration: none;
  color: #000;
}
html,
body {
  font-size: $base-font-size;
  font-family: $font-secondary;
  background: $bg;
  max-width: 375px;
  margin: 0 auto;
}
header {
  height: 63px;
  color: #000;
  @include flexrow;
  align-items: center;
  justify-content: center;
  position: relative;
  @include shadow($shadow: $bg-shadow);

  h1 {
    font-family: $font-primary;
    font-weight: bold;
    font-size: 2rem;
  }
  .back {
    position: absolute;
    top: 25px;
    left: 10px;
  }
}
