@use "../abstracts" as *;
@use "../base" as *;

header {
  height: 63px;
  @include shadow($shadow: $bg-shadow);
  .header__container {
    @include flexrow;
    height: 100%;
    align-items: center;
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    color: #000;
  }
  h2 {
    font-family: $font-primary;
    font-weight: bold;
    font-size: 2rem;
  }
  .back {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    font-size: 1.5rem;
  }
}
