@use "../abstracts" as *;
@use "../components" as *;
@use "../themes" as *;
.restaurant__imagebox {
  @include boite-a-images($imgheight: 256px);
  max-width: 1024px;
  margin: 0 auto;
}
.restaurant__titre {
  max-width: 1024px;
  margin: 0 auto;
  @include flexrow;
  justify-content: flex-start;
  align-items: baseline;
  padding-left: 1rem;
  padding-bottom: 2rem;
  margin-top: -4rem;
  background: $bg;
  position: relative;
  height: 80px;
  @include topradius(2rem);
  .titre__box {
    @media #{$small-up},#{$medium-up} {
      width: 23rem;
      margin: 0 auto;
      display: flex;
    }
    h1 {
      padding-top: 2rem;
      font-family: $font-primary;
      font-size: 1.8rem;
      @media #{$small-up}, #{$medium-up},#{$large-up} {
        font-size: 1.8rem;
      }
    }
  }
}
.restaurant {
  max-width: 100%;
  @include flexcolumn;
  justify-content: space-between;
  align-content: center;
  gap: 2rem;

  &__carte {
    max-width: 1024px;
    margin: 0 auto;

    @include flexcolumn;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.5rem;
    h3 {
      font-size: 1.2rem;
      font-weight: 300;
      text-transform: uppercase;
    }
    &__trait {
      @include trait;
    }

    @media #{$large-up} {
      width: 100%;
    }
  }
  .service {
    width: 100%;
    @include flexcolumn;
    gap: 1rem;
    justify-content: space-between;
    &:nth-last-child(2) {
      padding-bottom: 2rem;
    }
    @media #{$large-up} {
      flex-flow: row wrap;
    }
  }
  .button {
    margin: auto;
    @include flexrow;
    justify-content: center;
  }
}
.restaurant__fiche {
  cursor: pointer;
  width: 22rem;
  height: 68px;
  @include flexrow;
  justify-content: space-between;
  border-radius: 1rem;
  background: #fff;
  overflow: hidden;
  @include shadow($shadow: $bg-shadow);

  @media #{$small-down} {
    max-width: 18rem;
  }
  @media #{$large-up} {
    max-width: 20rem;
  }
  &__plat {
    min-width: 19.5rem;
    height: 100%;
    @media #{$small-down} {
      min-width: 15.5rem;
    }
    @media #{$large-up} {
      min-width: 17.5rem;
    }
    &__nomplat {
      font-size: 1rem;
      font-weight: 500;
      padding: 0.5rem;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media #{$small-down} {
        font-size: 1rem;
      }
    }
    &__description {
      padding: 0.5rem;
      font-weight: lighter;
      display: block;
      font-size: 0.9rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__tarif {
    font-weight: 500;
    padding-top: 2rem;
    padding: 0.5rem;
    align-self: flex-end;
  }
  &__check {
    min-width: 4rem;
    height: 100%;
    background: $tertiary;
    color: $bg;
    display: flex;
    justify-content: center;
    align-items: center;
    & i.fas.fa-check-circle {
      display: inline-block;
      font-size: 1.3rem;
    }
  }
}
