.restaurant {
  max-width: 100%;
  @include flexcolumn;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
  &__carte {
    @include flexcolumn;
    gap: 1rem;
    padding:1rem;
    h3{
      font-size: 1.2rem;
      font-weight: lighter;
      text-transform: uppercase;
    }
    &__trait {
      @include trait
    }
  }
  .button {
    margin:auto;
    @include flexrow;
    justify-content: center;
  }
  
}
.restaurant--imagebox {
 @include boite-a-images($imgheight:256px);
 
 
}
.restaurant__titre {
  @include flexrow;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2rem;
  margin-top: -4rem;
  background: $bg;
  position: relative;
  width: 100%;
  height: 80px;
  @include topradius(2rem);
    h1 {
      padding-left: 1rem;
      font-family: $font-primary;
      font-size: 1.8rem;
    }
    i{
      scale:1.5;
    }
}
.restaurant__fiche {
  width: 350px;
  height: 68px;
  @include flexrow;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 12px;
  padding: 0.5rem;
  @include shadow($shadow:$bg-shadow);
  &__check {
    display: none;
  }
  &__plat {
    height: 100%;
    @include flexcolumn;
    justify-content: space-evenly;
    
    &__nomplat {
      font-size: 1.1rem;
     font-weight: 500;
      white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    &__description{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: lighter;
    }
  }
  &__tarif {
    padding-bottom: 0.5rem;
    font-weight: 500;
  }
}
