@use "../abstracts" as *;
@use "../components" as *;
@use "../themes" as *;

nav {
  @include flexcolumn;
  gap: 1rem;
  padding: 1rem;
  h1 {
    padding-top: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  @media #{$medium-up} {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0;
    h1 {
      width: 100%;
      padding: 1rem;
    }
  }
  @media #{$large-up},#{$medium-up} {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0;
    h1 {
      width: 100%;
    }
  }
}
.restaurants__carte {
  max-width: 100%;
  height: 250px;
  @include flexcolumn;
  border-radius: 1rem;
  @include shadow($shadow: $bg-shadow);

  @media #{$medium-up} {
    min-width: calc(0.5 *#{$medium} - #{$base-font-size});
  }
  @media #{$large-up} {
    width: calc(0.5 *#{$large} - #{$base-font-size});
  }
  &__imagebox {
    @include boite-a-images($imgheight: 174px);
    & > img {
      @include topradius(1rem);
    }
  }
  &__description {
    @include flexrow;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    h2 {
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
      font-weight: 500;
    }
    i {
      scale: 1.5;
    }
    p {
      font-weight: lighter;
    }
  }
}
.new {
  position: absolute;
  display: inline-block;
  background: $tertiary;
  color: darken($color: $tertiary, $amount: 30%);
  padding: 0.5rem;
  top: 0.6rem;
  right: 0.6rem;
  font-size: 0.8rem;
  border-radius: 2px;
  font-weight: 500;
}
